<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="pedidoForm">
    <div fxLayout="row wrap">
      <mat-form-field class="input-width-half">
        <mat-label>Telefone</mat-label>
        <span matPrefix>+55 &nbsp;</span>
        <input type="tel" #telefone maxlength="11" [formControl]="numeroControl" matInput [matAutocomplete]="telAuto"
          placeholder="1298889-3598">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-autocomplete autoActiveFirstOption #telAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptionsNumero | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="input-right">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nomeCliente" type="text" name="nomeCliente">
      </mat-form-field>
    </div>

    <div class="row" fxLayout="row wrap">
      <mat-form-field class="input-width-half" >
        <mat-label>Rua</mat-label>
        <input type="text" #endereco [formControl]="ruaControl" matInput [matAutocomplete]="ruaAuto"
          placeholder="Informe o nome da rua">
        <mat-autocomplete autoActiveFirstOption #ruaAuto="matAutocomplete">
          <mat-option *ngFor="let rua of filteredOptionsRua | async" [value]="rua">
            {{rua}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="input-width-half input-right">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numeroResidencia" type="number" name="numeroResidencia">
      </mat-form-field>
    </div>

    <div fxLayout="row wrap">   
         <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="addProtudo()">
        <mat-icon>add</mat-icon>
      </button>
      <div formArrayName="produtos" >
        <div *ngFor="let item of getAddInput.controls; let pointIndex=index" class="col input-width-prod" [formGroupName]="pointIndex">
          <mat-form-field class="col">
            <mat-label>Produto</mat-label>
            <mat-select [formControl]="produtoControl" (selectionChange)="someMethod($event.value)" ngDefaultControl required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let produto of produtosList" [value]="produto">
                {{produto.nome}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="produtoControl.hasError('required')">Por favor Seleciona um Produto</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="input-right">
            <mat-label>Quantidade Produto</mat-label>
            <input matInput type="number" name="quantidadeProduto"  value="{{quantidadeProduto}}" class="example-right-align"
              placeholder="0">
            <span matSuffix>.00</span>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="input-right">
            <mat-label>Valor Produto</mat-label>
            <input matInput type="number" name="valorUnitario"  value="{{valorUnitario}}" class="example-right-align"
              placeholder="0">
            <span matPrefix>R$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
      </div>      
    </div>


    <!--<div fxLayout="row wrap">
        <div fxFlex="50" fxFill fxLayoutAlign="start center">
            <mat-form-field>
                <mat-label>Data da Live</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataPedido">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex="50" fxFill fxLayoutAlign="start center">
            <mat-form-field>
                <mat-label>Horário da Live</mat-label>
                <input matInput type="time" placeholder="" formControlName="timePedido" #time/>
            </mat-form-field>
        </div>
        </div> -->

    <div class="row" fxLayout="row wrap">
      <mat-form-field fxLayout="col" class="col input-width-half">
        <mat-label>Formas de Pagamento</mat-label>
        <mat-select [formControl]="pagamentoControl" ngDefaultControl required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let tipo of tipos" [value]="tipo">
            {{tipo.tipo}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pagamentoControl.hasError('required')">Por favor Seleciona Metodo de Pagamento</mat-error>
        <!-- <mat-hint>{{pagamentoControl.value?.sound}}</mat-hint> -->
      </mat-form-field>
      <mat-form-field floatLabel="always" class="input-right">
        <mat-label>Valor Total</mat-label>
        <input matInput disabled value="{{valorTotals}}" name="valorTotal" class="example-right-align">
        <span matPrefix>R$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Comentário</mat-label>
      <textarea matInput placeholder="Informações relevantes"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="createPedido()">Salvar</button>
  <button mat-button (click)="onCancelar()">Cancelar</button>
</div>