table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.mat-icon {
  color: green;
}

p {
  font-family: cursive;
  text-align: center;
}

.matChip {
  background-color: #90CAF9;
  color: rgba(0, 0, 0, .5);
}

.lista-container {
  height: 350px;
  overflow: auto;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
  padding-top: 5px;
  background-color: rgba(135, 129, 129, 0.664);
}

.table-space {
  padding-top: 5%;
  padding-left: 9%;
  padding-right: 2%;
  width: 450px;
}