.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgb(247, 244, 244);
    
  }
  .tool-bar-fixed{    
    position: fixed;
    z-index: 99999;
  }
  .menu-icon{
    padding-left: 30%;
    font-size: 20px;
  }
