<p>lista-presenca works!</p>
<!-- <mat-accordion *ngFor="let convidado of guest.convidados;let i = index" >

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{guest.nomeConvidado}}
            </mat-panel-title>
            <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{convidado.nomeConvidado}}</p>
    </mat-expansion-panel>
</mat-accordion> -->