<section class="page-section " id="listaConvidado">
    <form class="example-form">
        <div *ngFor="let item of lista; let i = index" class="formLista">
            <div>
                <mat-form-field class="col input-right">
                    <mat-label>Convidado</mat-label>
                    <input matInput #convidado name="nomeConvidado" id="{{item.id}}" value="{{item.nomeConvidado}}">
                </mat-form-field>
            </div>
            <!-- <mat-form-field floatLabel="always" class="input-right">
                    <input matInput type="text" name="nomeConvidado" >
                </mat-form-field> -->
            <!-- <mat-form-field floatLabel="always" class="input-right"> -->
            <div>
                <div *ngIf="item.statusConfirmacao;else naoconfirmado">
                    <p style="color: green;"> Eu vou</p>
                </div>
                <div *ngIf="!item.statusConfirmacao && item.statusConfirmacao != null">
                    <p style="color: green;"> Eu não vou</p>
                </div>
                <ng-template #naoconfirmado>
                    <div *ngIf="statusDis">
                        <section class="example-section">
                            <mat-checkbox class="check-margin" id="{{i}}" (change)="updateConfirmList($event, i)">
                                Confirmar
                            </mat-checkbox>
                            <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
                        </section>
                    </div>
                </ng-template>
                <div *ngIf="item.statusConfirmacao && item.status">
                    <section class="example-section">
                        <mat-checkbox class="check-margin" id="{{i}}" (change)="updateCancelList($event, i)">
                            Cancelar
                        </mat-checkbox>
                        <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
                    </section>
                </div>
            </div>
        </div>
        <button mat-stroked-button color="primary" (click)="salvarPresenca()">Nosso Site</button>
    </form>

    <div class="confirm" *ngIf="!statusDis">
        <p style="color: rgb(255, 255, 255);">
            Agradecemos a Confirmação
        </p>
    </div>
    <div mat-dialog-actions *ngIf="statusDis">
        <button mat-stroked-button color="primary" (click)="salvarPresenca()">Salvar</button>
        <button mat-button (click)="onCancelar()">Cancelar</button>
    </div>
    <div>
        <div class="container">
          <div class="container" style="background-color: #cf2f2fd6;">
            <p class="whats"> Para mais informações ou Duvidas entre em contato pelo whatsapp  <a href="a"><button style="color:#3fb551; background-color:white" mat-stroked-button>Whats</button></a></p>
          </div>
        </div>
      </div>
</section>