<section class="page-section example-section " id="listaConvidado">
    <form>
        <h2>Confirmação de Presença</h2>
        <div class="container color-back">
            <p *ngIf="statusDis"> 
                <mat-checkbox class="allChecks" [checked]="allComplete" [color]="task.color"
                    [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                    {{task.nomeConvidado}}
                </mat-checkbox>
            </p>
            <span>
                <div style="padding: 3px;" *ngFor="let subtask of task.subtasks;let i = index">
                    <div *ngIf="subtask.statusConfirmacao || statusDis == false;else naoconfirmado">
                        <div *ngIf="subtask.statusConfirmacao;else naovai">
                            <p class="pname">
                                <mat-icon style="color: green;" matSuffix>check</mat-icon> {{subtask.nomeConvidado}}
                            </p>
                        </div>
                        <ng-template #naovai>
                            <p class="pname">
                                <mat-icon style="color: red;" matSuffix>cancel</mat-icon> {{subtask.nomeConvidado}}
                            </p>
                        </ng-template>
                    </div>
                    <ng-template #naoconfirmado>
                        <div class="checks">
                            <h3>{{subtask.nomeConvidado}} </h3>
                            <mat-checkbox class="chebox" [(ngModel)]="subtask.statusConfirmacao" id="{{i}} 2" color="red"
                                (ngModelChange)="updateAllComplete()">
                               Confirmar
                            </mat-checkbox>
                            <mat-checkbox class="chebox" [(ngModel)]="subtask.statusConfirmacao" id="{{i}}" [color]="subtask.color"
                                (ngModelChange)="updateConfirmList(i)">
                                Não irei
                            </mat-checkbox>
                        </div>
                    </ng-template>
                </div>
                <div mat-dialog-actions *ngIf="statusDis">
                    <button mat-raised-button style="margin: 5px; margin-right: 5%; background-color: green; " color="primary"
                        (click)="salvarPresenca()">Salvar</button>

                </div>
            </span>
        </div>

    </form>


    <div class="confirm" *ngIf="!statusDis">
        <p style="color: rgb(255, 255, 255);">
            Agradecemos <br><br><br> a <br><br><br>Confirmação
        </p>
    </div>

    <div class="container">
        <div class="container infolink">
            <p class="whats"> Para mais informações ou duvidas entre em contato pelo <br> <a style="color:#3fb551;"
                    href="https://api.whatsapp.com/send?phone=5512991207294"><button mat-raised-button
                        class="linkButton" color="primary"> WHATSAPP</button></a>
            <h2> Casamento 29/10/2022</h2>
            <h1 *ngIf="statusDis"> Confirmar Presença até 29/09/2022</h1>

        </div> <br>
        <p class="whats"><a style="color:#3fb551;" href="http://www.casamentojandereellen.com.br/#listacasamento">
                <button style="margin: 5px; margin-right: 2%;" mat-raised-button class="linkButton" color="primary"> Site dos Noivos</button></a>
        <a style="color:#3fb551;" href="http://www.casamentojandereellen.com.br/#listacasamento">
                <button style="margin: 5px; margin-right: 2%;" mat-raised-button class="linkButton" color="primary"> Lista de Presentes</button></a><a style="color:#3fb551;" href="https://lista.havan.com.br/Convidado/ItensListaPresente/634979">
                <button style="margin: 5px; margin-right: 2%;" mat-raised-button class="linkButton" color="primary"> Endereço</button></a></p>
        <!-- <a href="http://www.casamentojandereellen.com.br/#listacasamento"><button mat-raised-button class="linkButton" color="primary">Lista de Casamento</button></a> -->
    </div>
</section>